version: '3'
services:
  donkey:
    # build: .    # uncomment this if you want to build from dockerfile
    image: robocarstore/donkeycar:latest
    hostname: racer1  # Rename this to Racer2 Racer3 to avoid duplicated names showing in mobile app
    container_name: donkeycar
    ports:
      - "8000:8000"
      - "8887:8887"
    stdin_open: true # docker run -i
    tty: true
    volumes:
      # - ./donkeycar-console:/donkeycar-console  # For dev only
      - ./mycar:/root/mycar
    environment:
      - mode=docker
